<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Ai Yazawa: Such a Great Lady</title>
  </head>
  <body>
    <header>
      <ul class="menu">
        <li><a href="/home">HOME</a></li>
        <li><a id="displayedPage" href="/about">ABOUT</a></li>
        <li><a href="/works">WORKS</a></li>
      </ul>
    </header>
    <h2>So... who is this Ai Yazawa?</h2>
    <div class="about">
        <div>
            <p>I'd say she's one of the greatest mangakas of all time!</p>
            <p>A mangaka is a person who creates manga as an author. Mangakas also have assistants, who also "create" manga, but they are not the authors so sadly assistants don't count as mangakas.</p>
            <p>Manga are simply japanese comics. (And no, by comic we don't mean "comedian" 😉). "Manga" is in fact the japanese word for "comic". Wouldn't it be cool if the comic industry in Spain was strong and people all over the world called Spanish comics "tebeos"? That's just what happens with manga!</p>
            <p>So yeah, Ai Yazawa is a mangaka, and an amazing one.</p>
            <p>Although <span>we don't really know for sure if she's alive</span>. Oh well, she probably is; I mean, no official source has ever implied the contrary. But it's been 10 years since she last published anything and we have never seen any new pictures of hers.</p>
            <p>The cause of her so called hiatus is mysterious, but it was supposed to be an unknown illness. A common theory is that she might currently be depressed, or maybe she got to enjoy life away from work and she just doesn't want to go back to being a mangaka. Being a mangaka usually involves complete dedication to your work... it's exhausting. Anyway, no one knows if her last work will ever be continued or not. We at least hope she's happy.</p>
            <p>Btw, manga isn't her only passion; she also has a passion for fashion. She enrolled in a fashion institute, but she dropped out in favour of becoming a mangaka. The love for making handmade clothes with your own personal touch is something she has depicted in several of her works. She's also a huge fan of Vivienne Westwood, just like most of the characters in her most famous manga "Nana".</p>
        </div>
        <div>
            <img class="aboutList" src="/images/ai-face.jpg" alt="Picture of Ai Yazawa">
            <ul class="aboutList">
                <li>Born in: March 7, 1967</li>
                <li>(She's a Piscis!)</li>
                <li>Her first work was published in 1985 (at 18 years old!)</li>
                <li>Her hiatus began in 2009 (14 years ago), although she has published a couple of manga pages more and some illustrations since.</li>
                <li>Specialized in: Shōjo and josei manga</li>
            </ul>
        </div>
    </div>
  </body>
</html>
