<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ai Yazawa: Such a Great Lady</title>
</head>
<body>
    <header>
        <ul class="menu">
            <li><a id="displayedPage" href="/home">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/works">WORKS</a></li>
        </ul>
    </header>
    <h1>Ai Yazawa: Such a Great Lady</h1>
    <h2>(An Ai Yazawa Fansite)</h2>
    <p class="home">Welcome to my site!</p>
    <p class="home">I'm an Ironhacker and this is a small website dedicated to the great Ai Yazawa that is currently hosted in my computer.</p>
    <p class="home">Please feel welcome to check out the different sections that we display.</p>

    <div class="nanas"><img src="/images/nanas.gif" alt="Nana and Hachi smiling"></div>
</body>
</html>